@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {;
  --color-main-blue: #1b74e4;
  --color-dark-grey: #44566c;
  --color-light-grey: #f3f6f6
}
@theme inline {
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/img/body-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  font-family: Poppins, sans-serif;
}
